<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaga.bo.service.admin.AdminDao">

	<resultMap id="noticePostResult" type="noticePost">
		<id property="noticePostNo" column="notice_post_no"
			jdbcType="INTEGER" />
		<result property="noticePostCategoryNo"
			column="notice_post_category_no" jdbcType="INTEGER" />
		<result property="noticePostTitle" column="notice_post_title"
			jdbcType="LONGVARCHAR" />
		<result property="noticePostText" column="notice_post_text"
			jdbcType="LONGVARCHAR" />
		<result property="noticePostImg" column="notice_post_img"
			jdbcType="LONGVARCHAR" />
		<result property="thumbNail" column="thumbnail"
			jdbcType="LONGVARCHAR" />
		<result property="qnaCategory" column="qna_category"
			jdbcType="INTEGER" />
		<result property="noticePostRegDate"
			column="notice_post_reg_date" jdbcType="TIMESTAMP" />
		<result property="userNo" column="user_no" jdbcType="INTEGER" />
	</resultMap>

	<!-- 블랙리스트용 -->
	<resultMap id="userResultMap" type="user">
		<result property="userNo" column="user_no" jdbcType="INTEGER" />
		<result property="userId" column="user_id" jdbcType="VARCHAR" />
		<result property="password" column="password"
			jdbcType="VARCHAR" />
		<result property="userName" column="user_name"
			jdbcType="VARCHAR" />
		<result property="birthday" column="birthday" jdbcType="DATE" />
		<result property="gender" column="gender" jdbcType="INTEGER" />
		<result property="nickName" column="nick_name"
			jdbcType="VARCHAR" />
		<result property="phoneNo" column="phone_no" jdbcType="INTEGER" />
		<result property="role" column="role" jdbcType="INTEGER" />
		<result property="joinDay" column="join_day"
			jdbcType="TIMESTAMP" />
		<result property="temperature" column="temperature"
			jdbcType="REAL" />
		<result property="outDay" column="out_day" jdbcType="TIMESTAMP" />
		<result property="outReason" column="out_reason"
			jdbcType="LONGVARCHAR" />
		<result property="profileImg" column="profile_img"
			jdbcType="LONGVARCHAR" />
		<result property="activityImg" column="activity_img"
			jdbcType="LONGVARCHAR" />
		<result property="activityImg2" column="activity_img2"
			jdbcType="LONGVARCHAR" />
		<result property="activityImg3" column="activity_img3"
			jdbcType="LONGVARCHAR" />
		<result property="userIntro" column="user_intro"
			jdbcType="LONGVARCHAR" />
		<result property="mainTitleNo" column="main_title_no"
			jdbcType="INTEGER" />
		<result property="bankCode" column="bank_code"
			jdbcType="VARCHAR" />
		<result property="bankName" column="bank_name"
			jdbcType="VARCHAR" />
		<result property="accountNo" column="account_no"
			jdbcType="VARCHAR" />
		<result property="blacklist" column="blacklist"
			jdbcType="INTEGER" />
		<result property="filterGender" column="filter_gender"
			jdbcType="INTEGER" />
		<result property="filterMaxAge" column="filter_max_age"
			jdbcType="INTEGER" />
		<result property="filterMinAge" column="filter_min_age"
			jdbcType="INTEGER" />
		<result property="filterTag" column="filter_tag"
			jdbcType="LONGVARCHAR" />
		<result property="filterTag2" column="filter_tag2"
			jdbcType="LONGVARCHAR" />
		<result property="filterTag3" column="filter_tag3"
			jdbcType="LONGVARCHAR" />
	</resultMap>

	<resultMap id="reportResultMap" type="report">
		<id column="report_no" property="reportNo" jdbcType="INTEGER" />
		<result column="reporting_no" property="reportingNo"
			jdbcType="INTEGER" />
		<result column="reporting_id" property="reportingId"
			jdbcType="VARCHAR" />
		<result column="reporting_nick_name"
			property="reportingNickName" jdbcType="VARCHAR" />
		<result column="reported_no" property="reportedNo"
			jdbcType="INTEGER" />
		<result column="reported_id" property="reportedId"
			jdbcType="VARCHAR" />
		<result column="reported_nick_name" property="reportedNickName"
			jdbcType="VARCHAR" />
		<result column="report_category_no" property="reportCategoryNo"
			jdbcType="INTEGER" />
		<result column="report_content" property="reportContent"
			jdbcType="VARCHAR" />
		<result column="report_date" property="reportDate"
			jdbcType="TIMESTAMP" />
		<result column="report_img" property="reportImg"
			jdbcType="VARCHAR" />
		<result column="report_img2" property="reportImg2"
			jdbcType="VARCHAR" />
		<result column="report_img3" property="reportImg3"
			jdbcType="VARCHAR" />
	</resultMap>


	<!-- 관리자게시판 -->
	<insert id="addNoticePost"
		parameterType="com.gaga.bo.service.domain.NoticePost">
		INSERT INTO notice_posts (
		notice_post_category_no,
		notice_post_title,
		notice_post_text,
		notice_post_img,
		thumbNail,
		qna_category,
		notice_post_reg_date,
		user_no
		)
		VALUES (
		#{noticePostCategoryNo:INTEGER},
		#{noticePostTitle:LONGVARCHAR},
		#{noticePostText:LONGVARCHAR},
		#{noticePostImg:LONGVARCHAR},
		#{thumbNail:LONGVARCHAR},
		#{qnaCategory:INTEGER},
		now(),
		#{userNo:INTEGER}
		)
	</insert>

	<select id="getNoticePostList" resultMap="noticePostResult">
		SELECT * FROM
		notice_posts
	</select>

	<select id="getLatestPostByCategoryNo"
		resultMap="noticePostResult">
		SELECT * FROM
		notice_posts
		WHERE notice_post_no =
		#{lastPostId}
		AND
		notice_post_Category_no = #{noticePostCategoryNo}
	</select>


	<select id="getNoticePostListByCategoryNo"
		resultMap="noticePostResult">
		SELECT * FROM notice_posts
		WHERE notice_post_Category_no =
		#{noticePostCategoryNo}
		AND notice_post_no &lt; #{lastPostId}
		ORDER BY
		notice_post_no DESC
		LIMIT 10
	</select>

	<select id="getLatestPostId" resultType="Integer">
		SELECT
		MAX(notice_post_no) FROM notice_posts
	</select>

	<select id="searchNoticePost" resultMap="noticePostResult">
		SELECT * FROM
		notice_posts
		WHERE (
		notice_post_title LIKE CONCAT('%',
		#{searchKeyword}, '%')
		OR notice_post_text LIKE CONCAT('%',
		#{searchKeyword}, '%')
		)
		AND
		notice_post_category_no =
		#{searchCategoryNo}
	</select>

	<select id="getNoticePost" resultMap="noticePostResult">
		SELECT * FROM notice_posts
		WHERE notice_post_no = #{noticePostNo}
	</select>

	<update id="updateNoticePost"
		parameterType="com.gaga.bo.service.domain.NoticePost">
		UPDATE notice_posts
		SET notice_post_category_no =
		#{noticePostCategoryNo},
		notice_post_title = #{noticePostTitle},
		notice_post_text = #{noticePostText},
		notice_post_img =
		#{noticePostImg}
		<if test="thumbNail != null">
			, thumbNail = #{thumbNail}
		</if>
		<if test="qnaCategory != null">
			, qna_category = #{qnaCategory}
		</if>
		WHERE notice_post_no = #{noticePostNo}
	</update>

	<delete id="deleteNoticePost">
		DELETE FROM notice_posts WHERE notice_post_no =
		#{noticePostNo}
	</delete>

	<select id="selectQnaByCategory" parameterType="int"
		resultMap="noticePostResult">
		select * from notice_posts
		where notice_post_category_no = 2
		and qna_category = #{qnaCategory}
	</select>

	<!-- 블랙리스트 CRUD -->
	<insert id="addBlackList"
		parameterType="com.gaga.bo.service.domain.User">
		UPDATE users
		SET blacklist = 2
		WHERE user_no = #{userNo}
	</insert>

	<update id="deleteBlackList"
		parameterType="com.gaga.bo.service.domain.User">
		UPDATE users
		SET blacklist = 0
		WHERE user_no = #{userNo}
	</update>

	<select id="getBlackList" resultMap="userResultMap">
		SELECT *
		FROM users
		WHERE
		blacklist != 0 AND user_no = #{userNo}
	</select>

	<select id="getBlackListList" resultMap="userResultMap">
		SELECT * FROM
		users
		WHERE
		user_no &lt;
		#{lastUserNo} and blacklist != 0
		ORDER BY user_no DESC
		LIMIT 10
	</select>

	<select id="searchBlackList" resultMap="userResultMap">
		SELECT * FROM
		users
		WHERE
		(user_id LIKE CONCAT('%', #{keyword}, '%')
		OR nick_name LIKE
		CONCAT('%', #{keyword}, '%')
		OR user_name LIKE CONCAT('%', #{keyword},
		'%'))
		AND blacklist != 0
	</select>

	<select id="getLatestUserNo" resultType="Integer">
		SELECT
		MAX(user_no) FROM
		users
	</select>

	<select id="searchUser" resultMap="userResultMap">
		SELECT *
		FROM users
		WHERE
		user_id LIKE CONCAT ('%', #{userId} '%')
		or nick_name LIKE CONCAT ('%',
		#{nickName}, '%')
		or user_name LIKE CONCAT ('%', #{userName}, '%')
	</select>

	<select id="getUser" parameterType="int"
		resultMap="userResultMap">
		SELECT *
		FROM users
		WHERE user_no = #{userNo}
	</select>

	<select id="getUserList" resultMap="userResultMap">
		SELECT * FROM
		users
		WHERE
		user_no &lt;
		#{lastUserNo}
		ORDER BY user_no DESC
		LIMIT 12
	</select>


	<!-- 신고조회 CRUD <select id="getReportAdmin" resultMap="reportResultMap"> 
		SELECT r.report_no, r.reported_no, r.reporting_no, r.report_category_no, 
		r.report_date, r.report_content, r.report_img, r.report_img2, r.report_img3, 
		u.user_id, u.user_name FROM reports r INNER JOIN users u ON r.reported_no 
		= u.user_no WHERE r.report_no = #{reportNo} </select> -->

	<select id="getReport" parameterType="int"
		resultMap="reportResultMap">
		SELECT
		r.report_no,
		r.reporting_no,
		r.reported_no,
		r.report_category_no,
		r.report_content,
		r.report_date,
		r.report_img,
		r.report_img2,
		r.report_img3,
		reporting.user_id AS reporting_id,
		reported.user_id AS reported_id,
		reporting.nick_name AS
		reporting_nick_name,
		reported.nick_name AS reported_nick_name
		FROM
		reports AS r
		INNER JOIN users AS reporting ON r.reporting_no =
		reporting.user_no
		INNER JOIN users AS reported ON r.reported_no =
		reported.user_no
		WHERE r.report_no = #{reportNo}
	</select>

	<select id="getReportList" parameterType="user"
		resultMap="reportResultMap">
		SELECT
		r.report_no,
		r.reporting_no,
		r.reported_no,
		r.report_category_no,
		r.report_date,
		reporting.user_id AS reporting_id,
		reported.user_id AS
		reported_id,
		reporting.nick_name AS reporting_nick_name,
		reported.nick_name AS reported_nick_name
		FROM reports AS r
		INNER JOIN
		users AS reporting ON r.reporting_no = reporting.user_no
		INNER JOIN
		users AS reported ON r.reported_no = reported.user_no
		<where>
			<if test="role != 0">
				1=1
			</if>
		</where>
	</select>

	<select id="searchReport" resultMap="reportResultMap">
		SELECT
		r.report_no,
		r.reporting_no,
		r.reported_no,
		r.report_category_no,
		r.report_date,
		reporting.user_id AS reporting_id,
		reported.user_id AS reported_id,
		reporting.nick_name AS reporting_nick_name,
		reported.nick_name AS
		reported_nick_name
		FROM reports AS r
		INNER JOIN users AS reporting ON
		r.reporting_no = reporting.user_no
		INNER JOIN users AS reported ON
		r.reported_no = reported.user_no
		WHERE
		reported.user_id LIKE
		CONCAT('%', #{searchKeyword}, '%') or
		r.report_content LIKE CONCAT('%', #{searchKeyword}, '%') or
		reporting.user_id LIKE CONCAT('%', #{searchKeyword}, '%')
	</select>
</mapper>