<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaga.bo.service.community.CommunityDao">

<!-- ResultMaps 검증 안됨
 <resultMap id="ReportResultMap" type="report">
    <id column="report_no" property="reportNo" jdbcType="INTEGER"/>
    <result column="reporting_no" property="reportingNo" jdbcType="INTEGER"/>
    <result column="reported_no" property="reportedNo" jdbcType="INTEGER"/>
    <result column="report_category_no" property="reportCategoryNo" jdbcType="INTEGER"/>
    <result column="report_content" property="reportContent" jdbcType="VARCHAR"/>
    <result column="report_date" property="reportDate" jdbcType="TIMESTAMP"/>
    <result column="report_img" property="reportImg" jdbcType="VARCHAR"/>
    <result column="report_img2" property="reportImg2" jdbcType="VARCHAR"/>
    <result column="report_img3" property="reportImg3" jdbcType="VARCHAR"/>
  </resultMap>
  
  <resultMap id="UserReviewResultMap" type="userReview">
    <id column="user_review_no" property="userReviewNo" jdbcType="INTEGER"/>
    <result column="reviewer_no" property="reviewerNo" jdbcType="INTEGER"/>
    <result column="reviewed_no" property="reviewedNo" jdbcType="INTEGER"/>
    <result column="user_score" property="userScore" jdbcType="INTEGER"/>
  </resultMap>
  -->
  
  <!-- SelectQueries 검증 안됨 -->
  <select id="getReport" parameterType="int" resultMap="ReportResultMap">
    SELECT * FROM reports WHERE report_no = #{reportNo}
  </select>
  
  <select id="getUserReview" parameterType="int" resultMap="UserReviewResultMap">
    SELECT * FROM user_reviews WHERE user_review_no = #{userReviewNo}
  </select>
  
  <!-- InsertQueries 검증 안됨-->
  
   <insert id="addReport" parameterType="com.gaga.bo.service.domain.Report">
    INSERT INTO reports (reporting_no, reported_no, report_category_no, report_content, report_date, report_img, report_img2, report_img3)
    VALUES (#{reportingNo:INTEGER}, #{reportedNo:INTEGER}, #{reportCategoryNo:INTEGER},
            #{reportContent:VARCHAR}, #{reportDate:TIMESTAMP}, #{reportImg:VARCHAR},
            #{reportImg2:VARCHAR}, #{reportImg3:VARCHAR})
  </insert>
</mapper>