<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaga.bo.service.meeting.MeetingDao">
 	

  <resultMap id="MeetingResultMap" type="Meeting">
    <id property="meetingNo" 				column="meeting_no" 			jdbcType="INTEGER" />
    <result property="entryFee" 			column="entry_fee" 				jdbcType="INTEGER" />
    <result property="meetingDate" 			column="meeting_date" 			jdbcType="DATE" />
    <result property="meetingStartTime" 	column="meeting_start_time" 	jdbcType="TIME" />
    <result property="meetingEndTime" 		column="meeting_end_time" 		jdbcType="TIME" />
    <result property="parentClubNo" 		column="parent_club_no" 		jdbcType="INTEGER" />
    <result property="meetingSuccess" 		column="meeting_success" 		jdbcType="INTEGER" />
    <result property="meetingAddr" 			column="meeting_addr" 			jdbcType="LONGVARCHAR" />
    <result property="meetingDetailAddr" 	column="meeting_detail_addr" 	jdbcType="LONGVARCHAR" />
    <result property="meetingLat" 			column="meeting_lat" 			jdbcType="DOUBLE" />
    <result property="meetingLng" 			column="meeting_lng" 			jdbcType="DOUBLE" />
    <result property="meetingName" 			column="meeting_name" 			jdbcType="VARCHAR" />
    <result property="meetingIntro" 		column="meeting_intro" 			jdbcType="LONGVARCHAR" />
    <result property="meetingLeaderNo" 		column="meeting_leader_no" 		jdbcType="INTEGER" />
    <result property="meetingMaxMemberNo" 	column="meeting_max_member_no" 	jdbcType="INTEGER" />
    <result property="meetingRegDate" 		column="meeting_reg_date" 		jdbcType="TIMESTAMP" />
    <result property="meetingState" 		column="meeting_state" 			jdbcType="INTEGER" />
    <result property="meetingImg" 			column="meeting_img" 			jdbcType="LONGVARCHAR" />
    <result property="filterGender" 		column="filter_gender" 			jdbcType="INTEGER" />
    <result property="filterMinAge" 		column="filter_min_age" 		jdbcType="INTEGER" />
    <result property="filterMaxAge" 		column="filter_max_age" 		jdbcType="INTEGER" />
    <result property="filterTag" 			column="filter_tag" 			jdbcType="LONGVARCHAR" />
    <result property="adjustmentTime" 		column="adjustment_time" 		jdbcType="TIMESTAMP" />
    <result property="adjustmentState" 		column="adjustment_state" 		jdbcType="INTEGER" />
    <result property="accountNo" 			column="account_no"				jdbcType="VARCHAR" />
    <result property="bankName" 			column="bank_name" 				jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="MeetingReviewResultMap" type="MeetingReview">
    <id property="meetingReviewNo" 				column="meeting_review_no" 			jdbcType="INTEGER" />
    <result property="meetingNo" 				column="meeting_no" 				jdbcType="INTEGER" />
    <result property="meetingScore" 			column="meeting_score" 				jdbcType="FLOAT" />
    <result property="meetingReviewImg" 		column="meeting_review_img" 		jdbcType="LONGVARCHAR" />
    <result property="meetingReviewContent" 	column="meeting_review_content" 	jdbcType="LONGVARCHAR" />
    <result property="meetingReviewerNo" 		column="meeting_reviewer_no" 		jdbcType="INTEGER" />
    <result property="meetingReviewDate" 		column="meeting_review_date" 		jdbcType="TIMESTAMP" />
  </resultMap>
	
<!-- 미팅 파트 -->	
<!--  미팅 하나 조회 -->
  <select id="getMeeting" parameterType="int" resultMap="MeetingResultMap">
    SELECT meeting_no, entry_fee, meeting_date, meeting_start_time, meeting_end_time, parent_club_no, meeting_success, meeting_addr, meeting_detail_addr, meeting_lat, meeting_lng, meeting_name,
    meeting_intro, meeting_leader_no, meeting_max_member_no, meeting_reg_date, meeting_state, meeting_img, filter_gender, filter_min_age, filter_max_age, filter_tag
    FROM meetings
    WHERE meeting_no = #{meetingNo}
  </select>
  
  
  <!-- 채팅방이 있는 미팅 리스트 조회 (getMeetingListInChat)-->
  
  
  <!-- 미팅 리스트 조회 구현 (getMeetingList)-->
  
  
  <!-- 미팅 생성 -->
  <insert id="addMeeting" parameterType="Meeting">
    INSERT INTO meetings (entry_fee, meeting_date, meeting_start_time, meeting_end_time, parent_club_no, meeting_success, meeting_addr, meeting_detail_addr, meeting_lat, meeting_lng, meeting_name, meeting_intro, 
     meeting_leader_no, meeting_max_member_no, meeting_reg_date, meeting_state, meeting_img, filter_gender, filter_min_age, filter_max_age, filter_tag)
    VALUES (#{entryFee}, #{meetingDate}, #{meetingStartTime}, #{meetingEndTime}, #{parentClubNo}, #{meetingSuccess}, #{meetingAddr}, #{meetingDetailAddr}, #{meetingLat}, #{meetingLng}, #{meetingName}, #{meetingIntro},
     #{meetingLeaderNo}, #{meetingMaxMemberNo}, #{meetingRegDate}, #{meetingState}, #{meetingImg}, #{filterGender}, #{filterMinAge}, #{filterMaxAge}, #{filterTag})
  </insert>
  
  

</mapper>