<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<!-- <typeAlias alias="user" type="com.gaga.bo.service.domain.User" /> -->

		
		<typeAlias alias="meeting" type="com.gaga.bo.service.domain.Meeting"/>
		<typeAlias alias="meetingReview" type="com.gaga.bo.service.domain.MeetingReview"/>
		

		<typeAlias alias="club" type="com.gaga.bo.service.domain.Club" />

		<typeAlias alias="payment" type="com.gaga.bo.service.domain.Payment" />

		<typeAlias alias="report" type="com.gaga.bo.service.domain.Report" />
		<typeAlias alias="reportCategory" type="com.gaga.bo.service.domain.ReportCategory" />
		<typeAlias alias="title" type="com.gaga.bo.service.domain.Title" />
		<typeAlias alias="userReview" type="com.gaga.bo.service.domain.UserReview" />


		<typeAlias alias="noticePost" type="com.gaga.bo.service.domain.NoticePost" />


	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<!-- <mapper resource="sql/UserMapper.xml"/> -->

		<mapper resource="sql/MeetingMapper.xml"/>

		<mapper resource="sql/CommunityMapper.xml"/>

		<!-- <mapper resource="sql/ClubMapper.xml"/>  -->

		<mapper resource="sql/PaymentMapper.xml"/>

		<!-- <mapper resource="sql/AdminMapper.xml"/>  -->

	</mappers>

</configuration>