<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaga.bo.service.payment.PaymentDao">

    <resultMap id="paymentResultMap" type="payment">
        <result property="payNo" column="pay_no" jdbcType="VARCHAR" />
        <result property="userNo" column="user_no" jdbcType="INTEGER" />
        <result property="meetingNo" column="meeting_no" jdbcType="INTEGER" />
        <result property="meetingName" column="meeting_name" jdbcType="VARCHAR" />
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP" />
        <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP" />
        <result property="payState" column="pay_state" jdbcType="INTEGER" />
        <result property="entryFee" column="entry_fee" jdbcType="INTEGER" />
    </resultMap>
    
    <!-- SQL : INSERT -->
	<insert 	id="addPayment"		parameterType="payment" >
	 	INSERT 
	 	INTO payments (pay_no, user_no, meeting_no, meeting_name, pay_time, refund_time, pay_state, entry_fee)
        VALUES (#{payNo:VARCHAR}, #{userNo:INTEGER}, #{meetingNo:INTEGER}, #{meetingName:VARCHAR}, 
        #{payTime:TIMESTAMP}, #{refundTime:TIMESTAMP}, #{payState:INTEGER}, #{entryFee:INTEGER})
	</insert>
	
	<!-- SQL : SELECT -->
	<select 	id="getPayment"  parameterType="java.lang.String" resultMap="paymentResultMap" >
	 	SELECT pay_no, user_no, meeting_no, meeting_name, pay_time, refund_time, pay_state, entry_fee
		FROM payments
		WHERE pay_no = #{payNo}
	</select>
	
	<!-- SQL : SELECT -->
	<select 	id="getPaymentByUserMeeting"  parameterType="int" resultType="java.lang.String" >
	 	SELECT pay_no
		FROM payments
		WHERE user_no = #{userNo} AND meeting_no = #{meetingNo}
	</select>
	
	<!-- SQL: SELECT -->
	<select id="getPaymentList" parameterType="int" resultMap="paymentResultMap">
	    SELECT pay_no, user_no, meeting_no, meeting_name, pay_time, refund_time, pay_state, entry_fee
	    FROM payments
	    WHERE user_no = #{userNo}
	</select>
	
	<!-- SQL : UPDATE -->
	<update id="updatePayment" parameterType="java.lang.String">
	  UPDATE payments
	  	<set>
	  		pay_state = 2
	    </set>
	  WHERE pay_no = #{payNo}
	  
	</update>

   
    
</mapper>