<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaga.bo.service.payment.PaymentDao">

    <resultMap id="paymentResultMap" type="payment">
        <id property="payNo" column="pay_no" jdbcType="VARCHAR" />
        <result property="userNo" column="user_no" jdbcType="INTEGER" />
        <result property="meetingNo" column="meeting_no" jdbcType="INTEGER" />
        <result property="meetingName" column="meeting_name" jdbcType="VARCHAR" />
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP" />
        <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP" />
        <result property="payState" column="pay_state" jdbcType="INTEGER" />
        <result property="entryFee" column="entry_fee" jdbcType="INTEGER" />
    </resultMap>
    
    <resultMap id="meetingResultMap" type="meeting">
    <id property="meetingNo" 				column="meeting_no" 			jdbcType="INTEGER" />
    <result property="entryFee" 			column="entry_fee" 				jdbcType="INTEGER" />
    <result property="meetingDate" 			column="meeting_date" 			jdbcType="DATE" />
    <result property="meetingStartTime" 	column="meeting_start_time" 	jdbcType="TIME" />
    <result property="meetingEndTime" 		column="meeting_end_time" 		jdbcType="TIME" />
    <result property="parentClubNo" 		column="parent_club_no" 		jdbcType="INTEGER" />
    <result property="meetingSuccess" 		column="meeting_success" 		jdbcType="INTEGER" />
    <result property="meetingAddr" 			column="meeting_addr" 			jdbcType="LONGVARCHAR" />
    <result property="meetingDetailAddr" 	column="meeting_detail_addr" 	jdbcType="LONGVARCHAR" />
    <result property="meetingLat" 			column="meeting_lat" 			jdbcType="DOUBLE" />
    <result property="meetingLng" 			column="meeting_lng" 			jdbcType="DOUBLE" />
    <result property="meetingName" 			column="meeting_name" 			jdbcType="VARCHAR" />
    <result property="meetingIntro" 		column="meeting_intro" 			jdbcType="LONGVARCHAR" />
    <result property="meetingLeaderNo" 		column="meeting_leader_no" 		jdbcType="INTEGER" />
    <result property="meetingMaxMemberNo" 	column="meeting_max_member_no" 	jdbcType="INTEGER" />
    <result property="meetingRegDate" 		column="meeting_reg_date" 		jdbcType="TIMESTAMP" />
    <result property="meetingState" 		column="meeting_state" 			jdbcType="INTEGER" />
    <result property="meetingImg" 			column="meeting_img" 			jdbcType="LONGVARCHAR" />
    <result property="filterGender" 		column="filter_gender" 			jdbcType="INTEGER" />
    <result property="filterMinAge" 		column="filter_min_age" 		jdbcType="INTEGER" />
    <result property="filterMaxAge" 		column="filter_max_age" 		jdbcType="INTEGER" />
    <result property="mainCategoryNo" 		column="main_category_no" 		jdbcType="INTEGER"/>
    <result property="filterTag" 			column="filter_tag" 			jdbcType="LONGVARCHAR" />
    <result property="adjustmentTime" 		column="adjustment_time" 		jdbcType="TIMESTAMP" />
    <result property="adjustmentState" 		column="adjustment_state" 		jdbcType="INTEGER" />
    <result property="accountNo" 			column="account_no"				jdbcType="VARCHAR" />
    <result property="bankName" 			column="bank_name" 				jdbcType="VARCHAR" />
  </resultMap>
    
    <!-- SQL : INSERT -->
	<insert 	id="addPayment"		parameterType="payment" >
	 	INSERT 
	 	INTO payments (pay_no, user_no, meeting_no, meeting_name, pay_time, refund_time, pay_state, entry_fee)
        VALUES (#{payNo:VARCHAR}, #{userNo:INTEGER}, #{meetingNo:INTEGER}, #{meetingName:VARCHAR}, 
        		NOW(), #{refundTime:TIMESTAMP}, 1, #{entryFee:INTEGER})
	</insert>
	
	<!-- SQL : SELECT -->
	<select 	id="getPayment"  parameterType="java.lang.String" resultMap="paymentResultMap" >
	 	SELECT pay_no, user_no, meeting_no, meeting_name, pay_time, refund_time, pay_state, entry_fee
		FROM payments
		WHERE pay_no = #{payNo}
	</select>
	
	<!-- SQL : SELECT -->
	<select 	id="getPayNoByUserMeeting"  parameterType="int" resultType="java.lang.String" >
	 	SELECT pay_no
		FROM payments
		WHERE user_no = #{userNo} AND meeting_no = #{meetingNo} AND pay_state = 1
	</select>
	
	<!-- SQL: SELECT -->
	<select id="getPaymentList" parameterType="int" resultMap="paymentResultMap">
	    SELECT pay_no, user_no, meeting_no, meeting_name, pay_time, refund_time, pay_state, entry_fee
	    FROM payments
	    WHERE user_no = #{userNo}
	    ORDER BY pay_time DESC
	</select>
	
	<update id="updatePayment" parameterType="String">
	  UPDATE payments
	  SET pay_state = 2,
	      refund_time = NOW()
	  WHERE pay_no = #{payNo}
	</update>

	
	
	<!-- 정산 SQL -->
	<!-- SQL : SELECT --> <!-- 1 :진행중 2: 성사 -->
	<select id="getAllAdjustmentList" resultMap="meetingResultMap">
		SELECT meeting_no, entry_fee, meeting_success, meeting_name,meeting_date,
   			   meeting_start_time, meeting_leader_no, meeting_reg_date, meeting_state,
			   (SELECT COUNT(*) FROM members WHERE state = 2 AND meeting_no = m.meeting_no) AS count
		FROM 
		    meetings m
		WHERE 
		    entry_fee != 0 AND meeting_success = 2 
		ORDER BY 
		    meeting_date DESC,
		    meeting_end_time DESC;

	</select>
	
	<!-- SQL : SELECT -->
	<select id="getAdjustmentList" parameterType="int" resultMap="meetingResultMap">
	  SELECT meeting_no, entry_fee, meeting_success, meeting_name,meeting_date,
   			 meeting_start_time, meeting_leader_no, meeting_reg_date, meeting_state,
			 (SELECT COUNT(*) FROM members WHERE state = 2 AND meeting_no = m.meeting_no) AS count
		FROM 
		    meetings m
		WHERE 
		    entry_fee != 0 AND meeting_success = 2 AND meeting_leader_no = #{userNo}		    
		ORDER BY 
		    meeting_date DESC,
		    meeting_end_time DESC;
	</select>
	
	
	<!-- SQL : UPDATE -->
	<update id="updateAdjustmentState" parameterType="int">
	  UPDATE meetings
	  <set>
		  adjustment_time = NOW(),
	      adjustment_state = 2
	  </set> 
	  	  WHERE meeting_no = #{meetingNo}
	</update>

	<!-- 정산 상태별 정렬 1. 정산대기(adjustmentState=1) 2. 모임 끝 시간이 최신 -->
	<!-- SQL : SELECT -->
    <select id="getAdjustmentIngList" resultMap="meetingResultMap">
     SELECT meeting_date, meeting_end_time, adjustment_time, 
		    adjustment_state, account_no, bank_name, meeting_name, 
		    meeting_leader_no, entry_fee
	 FROM meetings
	 WHERE entry_fee != 0 AND meeting_success = 2 AND adjustment_state = 1
	 ORDER BY 
		    meeting_date DESC,
		    meeting_end_time DESC;    
    </select>
</mapper>