<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.gaga.bo.service.domain.User">

	<resultMap id="UserResultMap" type="com.gaga.bo.service.domain.User">
	    <result property="userNo" column="user_no" jdbcType="INTEGER"/>
	    <result property="userId" column="user_id" jdbcType="VARCHAR"/>
	    <result property="password" column="password" jdbcType="VARCHAR"/>
	    <result property="userName" column="user_name" jdbcType="VARCHAR"/>
	    <result property="birthday" column="birthday" jdbcType="DATE"/>
	    <result property="gender" column="gender" jdbcType="INTEGER"/>
	    <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
	    <result property="phoneNo" column="phone_no" jdbcType="INTEGER"/>
	    <result property="role" column="role" jdbcType="INTEGER"/>
	    <result property="joinDay" column="join_day" jdbcType="TIMESTAMP"/>
	    <result property="temperature" column="temperature" jdbcType="REAL"/>
	    <result property="outDay" column="out_day" jdbcType="TIMESTAMP"/>
	    <result property="outReason" column="out_reason" jdbcType="LONGVARCHAR"/>
	    <result property="profileImg" column="profile_img" jdbcType="LONGVARCHAR"/>
	    <result property="activityImg1" column="activity_img1" jdbcType="LONGVARCHAR"/>
	    <result property="activityImg2" column="activity_img2" jdbcType="LONGVARCHAR"/>
	    <result property="activityImg3" column="activity_img3" jdbcType="LONGVARCHAR"/>
	    <result property="userIntro" column="user_intro" jdbcType="LONGVARCHAR"/>
	    <result property="mainTitleNo" column="main_title_no" jdbcType="INTEGER"/>
	    <result property="bankCode" column="bank_code" jdbcType="VARCHAR"/>
	    <result property="bankName" column="bank_name" jdbcType="VARCHAR"/>
	    <result property="accountNo" column="account_no" jdbcType="VARCHAR"/>
	    <result property="blacklist" column="blacklist" jdbcType="INTEGER"/>
	    <result property="filterGender" column="filter_gender" jdbcType="INTEGER"/>
	    <result property="filterMaxAge" column="filter_max_age" jdbcType="INTEGER"/>
	    <result property="filterMinAge" column="filter_min_age" jdbcType="INTEGER"/>
	    <result property="filterTag" column="filter_tag" jdbcType="LONGVARCHAR"/>
	    <result property="filterTag2" column="filter_tag2" jdbcType="LONGVARCHAR"/>
	    <result property="filterTag3" column="filter_tag3" jdbcType="LONGVARCHAR"/>
	</resultMap>
	
	<insert id="addUser" parameterType="com.gaga.bo.service.domain.User">
	    INSERT INTO user (
	        user_no, user_id, password, user_name, birthday, gender, nick_name, phone_no, 
	        role, join_day, temperature, out_day, out_reason, profile_img, activity_img1, 
	        activity_img2, activity_img3, user_intro, main_title_no, bank_code, bank_name, 
	        account_no, blacklist, filter_gender, filter_max_age, filter_min_age, filter_tag, 
	        filter_tag2, filter_tag3
	    )
	    VALUES (
	        #{userNo, jdbcType=INTEGER}, #{userId, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
	        #{userName, jdbcType=VARCHAR}, #{birthday, jdbcType=DATE}, #{gender, jdbcType=INTEGER},
	        #{nickName, jdbcType=VARCHAR}, #{phoneNo, jdbcType=INTEGER}, #{role, jdbcType=VARCHAR},
	        #{joinDay, jdbcType=TIMESTAMP}, #{temperature, jdbcType=REAL}, #{outDay, jdbcType=TIMESTAMP},
	        #{outReason, jdbcType=LONGVARCHAR}, #{profileImg, jdbcType=LONGVARCHAR}, 
	        #{activityImg1, jdbcType=LONGVARCHAR}, #{activityImg2, jdbcType=LONGVARCHAR}, 
	        #{activityImg3, jdbcType=LONGVARCHAR}, #{userIntro, jdbcType=LONGVARCHAR}, 
	        #{mainTitleNo, jdbcType=INTEGER}, #{bankCode, jdbcType=VARCHAR}, #{bankName, jdbcType=VARCHAR},
	        #{accountNo, jdbcType=VARCHAR}, #{blacklist, jdbcType=INTEGER}, #{filterGender, jdbcType=INTEGER},
	        #{filterMaxAge, jdbcType=INTEGER}, #{filterMinAge, jdbcType=INTEGER}, #{filterTag, jdbcType=LONGVARCHAR},
	        #{filterTag2, jdbcType=LONGVARCHAR}, #{filterTag3, jdbcType=LONGVARCHAR}
	    )
	</insert>
	 
	<select id="getUser" parameterType="int" resultMap="UserResultMap">
	    SELECT *
	    FROM user
	    WHERE user_no = #{userNo, jdbcType=INTEGER}
	</select>   
	    
	<update id="updateUser" parameterType="com.gaga.bo.service.domain.User">
	    UPDATE user SET
	        user_id = #{userId, jdbcType=VARCHAR},
	        password = #{password, jdbcType=VARCHAR},
	        user_name = #{userName, jdbcType=VARCHAR},
	        birthday = #{birthday, jdbcType=DATE},
	        gender = #{gender, jdbcType=INTEGER},
	        nick_name = #{nickName, jdbcType=VARCHAR},
	        phone_no = #{phoneNo, jdbcType=INTEGER},
	        role = #{role, jdbcType=VARCHAR},
	        join_day = #{joinDay, jdbcType=TIMESTAMP},
	        temperature = #{temperature, jdbcType=REAL},
	        out_day = #{outDay, jdbcType=TIMESTAMP},
	        out_reason = #{outReason, jdbcType=LONGVARCHAR},
	        profile_img = #{profileImg, jdbcType=LONGVARCHAR},
	        activity_img1 = #{activityImg1, jdbcType=LONGVARCHAR},
	        activity_img2 = #{activityImg2, jdbcType=LONGVARCHAR},
	        activity_img3 = #{activityImg3, jdbcType=LONGVARCHAR},
	        user_intro = #{userIntro, jdbcType=LONGVARCHAR},
	        main_title_no = #{mainTitleNo, jdbcType=INTEGER},
	        bank_code = #{bankCode, jdbcType=VARCHAR},
	        bank_name = #{bankName, jdbcType=VARCHAR},
	        account_no = #{accountNo, jdbcType=VARCHAR},
	        blacklist = #{blacklist, jdbcType=INTEGER},
	        filter_gender = #{filterGender, jdbcType=INTEGER},
	        filter_max_age = #{filterMaxAge, jdbcType=INTEGER},
	        filter_min_age = #{filterMinAge, jdbcType=INTEGER},
	        filter_tag = #{filterTag, jdbcType=LONGVARCHAR},
	        filter_tag2 = #{filterTag2, jdbcType=LONGVARCHAR},
	        filter_tag3 = #{filterTag3, jdbcType=LONGVARCHAR}
	    WHERE user_no = #{userNo, jdbcType=INTEGER}
	</update>
	
	
	
	
	
	
</mapper>